<section id="homepage" class="container">
  <div class="row">
    <section id="main-content" class="col-xs-12 col-sm-12 col-md-8 poped-out">
      <header>
        <h1><strong>Posts</strong></h1>
      </header>
      <% render_edit_show_btns = false %>
      <% @posts.each do |post| %>
        <%= render partial: 'posts/post', locals: {post: post} %>
        <hr>
      <% end %>
    </section>
    <%= render partial: 'shared/sidebar'%>
  </div>
</section><!-- end - home page section -->
