<section>
  <header>
    <h3><strong>Users Reviews</strong></h3>
  </header>
  <ul>
  <% if @comments.count > 0 %>
    <% @comments.each do |comment| %>
      <li class="comment">
        <%= render partial: 'comment', locals: {comment: comment}%>
      </li>
    <% end %>
  <% else %>
    <p>This post hasn't been reviewed yet</p>
  <% end %>
  </ul>
  <div class="clearfix"></div>
  <%= will_paginate @comments%>
</section><!-- end - Users' Reviews -->