<section class="container">
  <header>
    <h1>Editing Post</h1>
  </header>

  <hr>

  <%= render 'form', post: @post, class: 'row'%>

  <br>
  <hr>
  <br>

  <%= link_to 'Show', @post, class: 'btn btn-primary'%> |
  <%= link_to 'Back', posts_path, class: 'btn btn-primary'%>

  <br>
</section> <!-- end - edit post section -->
