<div class="container">
  <div class="row">
  
    <section class="single-post col-xs-12 col-sm-12 col-md-8 poped-out">
      <%= render partial: 'post', locals: {post: @post } %>
      <hr>
      <% if user_signed_in? %>
        <%= render partial: 'comment_form'%>
        <hr>
      <% end %>
      <%= render partial: 'comments'%>
    </section><!-- end - show single post-->
    <%= render partial: 'shared/sidebar'%>

  </div>
</div>