// Place all the styles related to the home_about_contact controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'shared';

section,
article {
  @extend .margin-bottom-md;
}

#homepage {
  @extend .padding-top-lg;
  
  #main-content,
  #sidebar {
    @extend .box-shadow-thin;
    background-color: $font-color-1-vhi;
  }
}

#main-content {
  hr {
    @extend .background-color-2-vhi;
    border-color: $background-color-2-vhi;
  }
}

#sidebar{
  
  article {
    margin-bottom: 0;
  }

  a {
    @extend .font-color-2-hi;
    text-align: justify;
    margin: 0;
  }
}