// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


article {
  header {
    @extend .margin-bottom-sm;
  }

  header,
  .fr-view {
    text-align: justify;
  }

  .featured-tag {
    @extend .font-color-1-vhi;
    @extend .background-color-2-lw;
    padding: 0.1em 0.7em;
    display: inline-block;
  }

  .date-created {
    @extend .font-size-0-8;
    float: right;
  }
}

.single-post ,.poped-out{
  padding: 1em;
}